<nav class="top-bar row" ng-controller="NavbarController">
  <ul class="title-area">
    <li class="name">
      <h1><a href="https://github.com/Swiip/generator-gulp-angular">GainMaster</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li ng-class="{ active: isActive('') }"><a ng-href="#">Home</a></li>
      <li ng-class="{ active: isActive('/login') }"><a ng-href="#/login">Login</a></li>
      <li ng-class="{ active: isActive('/register') }"><a ng-href="#/register">Register</a></li>
      <li ng-class="{ active: isActive('/measurementregister') }"><a ng-href="#/measurementregister">Register Measurement</a></li>
      <li ng-class="{ active: isActive('/measurementhistory') }"><a ng-href="#/measurementhistory">Measurement History</a></li>
      <li ng-class="{ active: isActive('/contact') }"><a ng-href="#/contact">Contact</a></li>
    </ul>
    <ul class="left">
      <li><a ng-href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</a></li>
    </ul>
  </section>

</nav>
