<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <style>
    select{
      max-width: 10.5rem;
    }
  </style>
  <div class='row'>
    <br>
    <select ng-model="selectedMeasurement" ng-change="getArray()">
      <option value="" disabled selected>Select Property</option>
      <option value="height" >Height</option>
      <option value="weight" >Weight</option>
    </select>
    <br>
  </div>

  <div class='row' >
      <div ng-show='showArray'>
        <table>
          <tr>
            <th><a href="" ng-click="predicate = 'date'; reverse=true">Date</a>
          (<a href="" ng-click="predicate = '-date'; reverse=true">^</a>)</th>
            <th><a href="" ng-click="predicate = 'magnitude'; reverse=true">Magnitude</a>
          (<a href="" ng-click="predicate = '-magnitude'; reverse=true">^</a>)</th>
          </tr>
          <tr ng-repeat="x in measurement._embedded.measurements | orderBy:date:reverse">
            <td>{{ x.date  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{ x.magnitude }} {{ x.unit }}</td>
          </tr>
        </table>
      </div>
  </div>

</div>
