<div class="container">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <style>
    select {
      width: 10%;
    }
  </style>
  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class='row'>
    <br>
    <select ng-model="selectedArray">
      <option value="all">All</option>
      <option value="height">Height</option>
      <option value="weight">Weight</option>
    </select>
    //filter, sortby
    <br>
  </div>

  <div class='row' >


      <div ng-show='showArray("weight")'>
        <table>
          <tr>
            <td>Date</i>

                            </button></td>
            <td>Weight</td>
          </tr>
          <tr ng-repeat="x in weightArray | orderBy : 'date'">
            <td>{{ x.date }}</td>
            <td>{{ x.magnitude }} gram</td>
          </tr>
        </table>
      </div>

      <div ng-show='showArray("height")'>
        <table>
          <tr>
            <td>Date</td>
            <td>Height</td>
          </tr>
          <tr ng-repeat="x in heightArray | orderBy : 'date'">
            <td>{{ x.date }}</td>
            <td>{{ x.magnitude }} cm</td>
          </tr>
        </table>
      </div

      <div ng-show='showArray("all")'>
        <table>
          <tr>
            <td>Date<button class="btn btn-mini btn-link" ng-click="sort('date')"><i class="icon-sort"></td>
            <td>Property<button class="btn btn-mini btn-link" ng-click="sort('property')"><i class="icon-sort"></td>
            <td>Height<button class="btn btn-mini btn-link" ng-click="sort('magnitude')"><i class="icon-sort"></td>
          </tr>
          <tr ng-repeat="x in userArray | orderBy:orderProp:direction">
            <td>{{ x.date }}</td>
            <td>{{ x.property }}</td>
            <td>{{ x.magnitude }}</td>
          </tr>
        </table>
      </div>



    <br>



  </div>

</div>
