
<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class='row'>
    <style>
    form {
      max-width: 20rem;
      margin:auto;
    }
    .columns {
      padding-left: 0;
      padding-right: 0;
    }
  </style>
    <form name='registerMeasurementForm'  ng-submit='submitRegisterMeasurementForm()'>
      <fieldset>
        <legend> Register Measurement </legend>
        <select ng-model="selectedMeasurement">
          <option value="" disabled selected>Select your option</option>
          <option value="Height">Height</option>
          <option value="Weight">Weight</option>
        </select>

        <div ng-hide='selectedMeasurement==""'>
          <div class="large-12 columns">
            <label>Selected registration: {{selectedMeasurement}}</label>
            <input type='number'
                   placeholder='Input Magnitude'
                   name='magnitude'
                   ng-model='MeasurementInput.magnitude'
                   min='1'
                   max='5000'/>
            <div class='error' ng-show='registerMeasurementForm.magnitude.$invalid && registerMeasurementForm.magnitude.$dirty && submitted'>
              <small class="error" ng-show="registerMeasurementForm.magnitude.$error.min">
                Magnitude must be at least 1
              </small>
              <small class="error" ng-show="registerMeasurementForm.magnitude.$error.max">
                Magnitude must max 5000
              </small>
            </div>
          </div>

        </div>
        <button type="submit" ng-hide='selectedMeasurement==""' class="button radius">Register</button>

        {{MeasurementInput}}

      </fieldset>
    </form>
  </div>
</div>
