<div class="container">

  <style>
    li {
      list-style: none;
    }
  </style>
  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class='row'>
    <h2>Information</h2>
    <ul>
      <li>
        <b>Name:</b> {{ user.name }}
      </li>
      <li>
        <b>Username:</b> {{ user.username }}
      </li>
      <li>
        <b>Email:</b> {{ user.email }}
      </li>
    </ul>
    <h2>Measurements</h2>
    <ul>
      <li>
        <b>Height:</b> {{ measurement.height }}
      </li>
      <li>
        <b>Weight:</b> {{ measurement.weight }}
      </li>
    </ul>
    <ul>
      <li><a ng-href="#/measurementregister">Register Measurement</a></li>
      <li><a ng-href="#/measurementhistory">Measurement History</a></li>
    </ul>
  </div>
</div>
